/* pallete: 34, 34, 59  74, 78, 105     154, 140, 152   201, 173, 167   242, 233, 228 */
/* 33, 37, 41   52, 58, 64   73, 80, 87   108, 117, 125   173, 181, 189   206, 212, 218*/
/* :root {
    --background_color: rgb(33, 37, 41);
    --header_color: rgb(52, 58, 64);
    --font_color: rgb(242, 233, 228);
    --border_color: rgb(73, 80, 87);
    --hover_color: rgb(40, 46, 52);
} */

:root {
    --background_color: rgb(30, 30, 30);
    --header_color: rgb(51, 51, 51);
    --font_color: rgb(211, 210, 186);
    --border_color: rgb(51, 51, 51);
    --hover_color: rgb(40, 40, 40);
}


body {
    background-color: var(--background_color);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
    color: var(--font_color)
}

header {
    background-color: var(--header_color);
    padding: 1px;
    /*padding-left: 10px;*/
}

a {
    text-decoration: underline;
    color: var(--font_color);
}

.links {
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    justify-content: center;
    margin: 0px;
    text-transform: capitalize;
}

.links a {
    color: var(--font_color);
    text-decoration: none;
    text-transform: capitalize;
    font-size: large;
    padding: 5px 15px 5px 15px;
    transition: 100ms;
}

a:hover {
    background-color: var(--hover_color);
    transition: 250ms;
}

#workspace {
    display: flex;
    flex-direction: column;
}

#options_box {
    display: flex;
    flex-direction: row;
    margin: 5px 5px 0px 5px;
    /* flex-grow: 4; */
    border: 2px solid var(--border_color);
    border-bottom: 0px;
    border-left: 0px;
}

.tools {
    padding: 5px;
    border-left: 2px solid var(--border_color);
}

.tools input {
    margin-left: 0px;
}



#shapes {
    display: flex;
    flex-direction: row;
    margin: 0px 5px 0px 5px;
    padding: 2px;
    border: 2px solid var(--border_color);
    border-top: 2px dotted var(--border_color);
}

.shape_tools {
    background-color: var(--font_color);
    width: 25px;
    height: 25px;
    padding: 3px;
    margin: 2px;
    border: 2px solid var(--border_color);
}

.shape_tools:hover {
    border-color: rgb(0, 0, 0);
}

.shape_tools:active {
    background-color: #AC3232;
}

#color {
    border: 2px solid var(--border_color);
    width: 100px;
    height: 35px;
}

#save_load {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
}

#save_load input {
    width: 25px;
    height: 25px;
    padding: 3px;
    margin: 2px;
    border: 2px solid var(--border_color);
}

#canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-color: black;
    margin: 5px 5px 0px 5px;
    border: 2px solid var(--border_color);
}

#position {
    margin-left: 5px;
}

#outputSet {
    display: flex;
    flex-direction: row;
    margin: 5px 5px 0px 5px;
    /* flex-grow: 4; */
    border: 2px solid var(--border_color);
    border-left: 0px;
}

#copy {
    transition-duration: 250ms;
}

#copy:hover {
    background-color: black;
    transition-duration: 250ms;
}

#copy:active {
    background-color: #AC3232;
    transition-duration: initial;
}

#outputCode {
    margin: 5px;
    margin-top: 0px;
    padding: 5px;
    background-color: black;
    border: 2px solid var(--border_color);
    border-top: 0px;
}

.output_tools {
    padding: 5px;
    border-left: 2px solid var(--border_color);
}

.output_tools input {
    margin-left: 0px;
}

/* #inputTextDiv {
    display: none;
    background-color: rgb(241, 241, 241);
    color: black;
    border: 2px solid var(--border_color);
    padding: 2px;
    position: fixed;
    width: 150px;
    height: 150px;
} */

#inputText {
    display: none;
    background-color: rgb(241, 241, 241);
    color: black;
    border-left: 2px solid var(--border_color);
    padding: 0;
    position: fixed;
    /* width: 150px; */
    top: 120px;
    left: 120px;
}

p {
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--border_color);
}

/* IMAGE TO LUA */

#top {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--border_color);
}

#codediv {
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--border_color);
}

#buttondiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#codediv button {
    padding: 8px;
    margin: 5px;
}

#imagediv input {
    padding: 5px;
}

#imagediv img {
    padding: 5px;
}

#info {
    display: flex;
    flex-direction: column;
    -ms-flex-item-align: center;
    padding: 5px;
    border: 0px;
}

.helpimage {
    width: 250px;
    margin: 5px;
    padding: 0;
}

.helpimage1 {
    background-color: black;
    width: 400px;
    margin: 5px;
    padding: 0;
}

.links_category {
    border: solid var(--border_color);
    padding: 30px;
    margin: 10px;
}

.links_inner_cat {
    padding: 30px;
}



.links_inner_cat a {
    color: rgb(197, 178, 139);
    text-decoration: none;
    line-height: 2;
}