/* pallete (45, 49, 66) (191, 192, 192) (255, 255, 255) (239, 131, 84) (79, 93, 117) */

/* @font-face {
    font-family: "stormworks_font";
    src: url("stormworks_font.ttf");
} */

body {
    background-color: rgb(26, 26, 27);
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header {
    background-color: rgb(63, 63, 63);
    padding: 10px;
    border-bottom: 5px solid black;
    /*padding-left: 10px;*/
}

h1 {
    border: 3px solid rgb(0, 0, 0);
    text-shadow: 2px 2px black;
    color: rgb(199, 199, 199);
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 0px;
    display:inline;
}

ul {
    background-color: rgb(63, 63, 63);
    padding-top: 10px;
    padding-left: 5px;
    display: inline;
    margin: 0;

    margin-right: 10px;
    margin-bottom: 10px;
}

ul li{
    text-decoration: none;
    list-style-type: none;
    display: inline-flex;
    margin-bottom: -10px;
    /*display: inline-block;*/
}

a {
    background-color: rgb(148, 146, 145);
    color: black;;
    text-decoration: none;
    font-size: large;
    padding: 3px 15px 10px 15px;
    margin-bottom: 0;
    border: 2px solid rgb(3, 3, 2);
    border-width: 2px 2px 5px 2px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition-duration: 250ms;
}

a:hover {
    background-color: rgb(211, 211, 211);
    padding-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition-duration: 250ms;
}

p {
    background-color: rgb(10, 10, 10);
    color: rgb(211, 211, 211);
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}




div {
    background-color: rgb(10, 10, 10);
    color: rgb(211, 211, 211);
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
}

#top {
    display: flex;
}

#imagediv {
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

#info {
    padding: 2px;
    margin: 0;
}

.helpimage {
    background-color: black;
    width: 250px;
    margin: 5px;
    padding: 0;
}

.helpimage1 {
    background-color: black;
    width: 400px;
    margin: 5px;
    padding: 0;
}

input {
    background-color: rgb(148, 146, 145);
    color: black;
    padding: 5px;
    padding-right: 32px;
    border-radius: 10px;
}

img {
    background-color: rgb(148, 146, 145);
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

#buttondiv {
    padding: 0;
    margin: 0;
}

button {
    padding: 10px;
}

/* canvas tools! */

#canvas {
    margin: 5px;
    border: 2px solid white;
}

.tools {
    padding: 0;
    border-radius: 0;
}

#toolbox {
    display: flex;
    padding: 0;
    border-radius: 10px;
}

#scale {
    padding: 0;
    border-radius: 0;
}

select {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

#color {
    margin: 0;
    padding: 1px;
    border: 0px;
    border-radius: 5px;
    width: 100px;
    height: 39px;
    vertical-align: top;
}

#shapes {
    margin: 5px;
    padding: 10px;
}

.shapes input {
    background-color: #EFEFEF;
    margin: 0px;
    padding: 5px;
    border-radius: 5px;
}

.shapes input:hover {
    background-color: #ffffff;
    border-radius: 10px;
    transition-duration: 250ms;
}

.shapes input:active {
    background-color: #AC3232;
}

#position {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

#copy {
    background-color: #EFEFEF;
    width: auto;
    margin: 0px;
    margin-left: 5px;
    margin-right: 10px;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
}

#copy:hover {
    background-color: #ffffff;
    border-radius: 10px;
    transition-duration: 100ms;
}

#copy:active {
    background-color: #AC3232;
}

#outputSet {
    display: inline-flex;
}

#outputCode {
    border: 2px solid rgb(230, 230, 230);
}