/* pallete: 34, 34, 59  74, 78, 105     154, 140, 152   201, 173, 167   242, 233, 228 */
/* 33, 37, 41   52, 58, 64   73, 80, 87   108, 117, 125   173, 181, 189   206, 212, 218*/
/* :root {
    --background_color: rgb(33, 37, 41);
    --header_color: rgb(52, 58, 64);
    --font_color: rgb(242, 233, 228);
    --border_color: rgb(73, 80, 87);
    --hover_color: rgb(40, 46, 52);
} */

:root {
    --background_color: rgb(30, 30, 30);
    --header_color: rgb(51, 51, 51);
    --font_color: rgb(211, 210, 186);
    --font_color_hover: rgb(241, 240, 216);
    --border_color: rgb(51, 51, 51);
    --hover_color: rgb(40, 40, 40);
}

body {
    background-color: var(--background_color);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--font_color);
}

header {
    background-color: var(--header_color);
    padding: 1px;
}

a {
    text-decoration: underline;
    color: var(--font_color);
}

.links {
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
}

.links a {
    color: var(--font_color);
    text-decoration: none;
    text-transform: capitalize;
    font-size: large;
    padding: 5px 15px 5px 15px;
    transition: 100ms;
}

a:hover {
    background-color: var(--hover_color);
    transition: 250ms;
}

#workspace {
    display: flex;
    flex-direction: column;
}

#options_box {
    display: flex;
    flex-direction: row;
    margin: 5px 5px 0px 5px;
    border: 2px solid var(--border_color);
    border-bottom: 0px;
    border-left: 0px;
}

.tools {
    padding: 5px;
    border-left: 2px solid var(--border_color);
}

.tools input {
    margin-left: 0px;
}

#side_bar {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}

#shapes {
    background-color: var(--header_color);
    display: flex;
    flex-direction: column;
    padding: 12px;
    min-width: 77px;
}

.shape_tools { 
    background-color: var(--font_color);
    width: 25px;
    height: 25px;
    padding: 4px;
    margin: 2px 1px 2px 1px;
    border-radius: 2px;
}

.shape_tools:hover {
    background-color: var(--font_color_hover);
}

.shape_tools:active {
    background-color: #AC3232;
}

#canvas_menu_button {
    width: 65px;
    height: 25px;
}

#alpha_input {
    padding: 4;
    padding-left: 25px;
    padding-bottom: 5px;
    margin: 0;
    margin-bottom: 4px;
    width: 45px;
    height: 17px;
    border-radius: 0px 0px 12px 12px;
    border: solid;
    border-style: unset;
    align-content: center;
}

#color {
    border: 0px solid var(--border_color);
    border-radius: 5px 5px 0px 0px;
    width: 74px;
    height: 39px;
    padding: 4px;
    margin: 4px 0px 0px 0px;
}

#save_load {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
}

#save_load input {
    width: 25px;
    height: 25px;
    padding: 3px;
    margin: 2px;
    border: 2px solid var(--border_color);
}

.options_menu {
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    background-color: var(--header_color);
    padding: 5px;
    border: var(--font_color) 1px;
    border-style: solid;
    border-radius: 4px;
    min-width: 200px;
}

#canvas_options_menu {
    display: none;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid var(--background_color) 1px;
}

.menu_start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#canvas {
    background-color: black;
    border: 2px solid var(--border_color);
    width: auto;
    cursor: crosshair;
}

#position {
    margin: 5px 0px 0px 0px;
}

.info_symbol {
    padding: 2px;
    margin: 0px 7px 0px 0px;
    width: 12px;
    height: 12px;
    background-color: var(--font_color);
    border-radius: 15px;
    border: 1px solid black;
    /* position: relative; */
}

/* ######## CODE SPACE ######## */
#code_space {
    min-width: 350px;
    width: 400px;
    margin: 0px;
    background-color: var(--header_color);
}

#outputSet {
    display: flex;
    flex-direction: row;
}

.output_tools {
    padding: 5px;
    border-left: 1px solid rgb(19, 19, 19);
}

#outputCode {
    margin: 2px;
    margin-top: 0px;
    padding: 15px;
    background-color: black;
    border: 2px solid var(--border_color);
    border-top: 0px;
    border-radius: 5px;
    overflow-y: auto;
    overflow-wrap: break-word;
}

#copy {
    transition-duration: 250ms;
}

#copy:hover {
    background-color: black;
    transition-duration: 250ms;
}

#copy:active {
    background-color: #AC3232;
    transition-duration: initial;
}

.output_tools input {
    margin-left: 0px;
}

#code_menu_button {
    width: 65px;
    height: 25px;
    margin: 5px;
    margin-top: 9px;
}

#code_options_menu {
    display: none;
    width: 250px;
}

#inputTextDiv {
    display: none;
    background-color: var(--header_color);
    color: black;
    border: 1px solid var(--font_color);
    color: var(--font_color);
    padding: 2px;
    position: fixed;
    width: 108px;
    height: 54px;
}

#inputText {
    color: black;
    border-left: 2px solid var(--border_color);
    padding: 0;
    margin: 0;
    position: fixed;
    top: 120px;
    left: 120px;
}

.inputTextOptions {
    display: flex;
    justify-content: space-evenly;
}

p {
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--border_color);
}